body {
  display: flex;
  flex-direction: column; /* 將 Flexbox 的排列方式設為縱向（垂直排列），使元素垂直堆疊 */
  justify-content: center;
  align-items: center;
  background-color: #696969;
  border: 3px solid red;
}

.headers {
  display: flex;
  justify-content: center;
  border: 3px solid green;
}

.header {
  color: #fff;
  font-family: 'Noto Serif', serif;/* 設置字體為 Noto Serif，如果該字體不可用則使用系統默認的 serif 字體。 */
  margin: 80px 20px 10px 0;
  font-size: 70px;
  letter-spacing: 4px; /* 設置字母之間的間距為 4px。 */
  animation: text 2s infinite alternate ease-in-out;/* 設置動畫效果，text 是動畫名稱，持續時間 2 秒，無限循環，交替方向，並有緩動效果（ease-in-out） */
  border: 3px solid orange;
}

/* 以下為動畫text */
/* @keyframes 用來定義動畫的過程。這裡的動畫名字叫 text，會改變文字的陰影和變換效果。 */
@keyframes text {   

  /* 在動畫開始（0%）和 30% 時 */
  0%, 30% {
    /* text-shadow 設定文字的陰影效果，有三個不同顏色的陰影，分別偏移 5px,
      10px,
      15px，使用不同顏色。 */
    text-shadow:
      5px 5px 5px #B0E0E6,
      10px 10px 10px rgba(0, 0, 0, 0.5),
      15px 15px 15px #808080;
      /* transform: skewX(-25deg) skewY(2deg);
        ：這會讓文字沿著 X 軸和 Y 軸進行傾斜。 */
    transform: skewX(-25deg) skewY(2deg);
  }

  /* 在動畫的 90% 和 100% 時，文字的陰影將消失，並且不再有傾斜效果，恢復原狀。 */
  90%, 100% {
    text-shadow: none;
    transform: none;
  }
}

.form {
  background-color: #fff;
  width: 700px;
  margin-top: 30px;
  padding: 20px;
  color: #444;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* 設置陰影效果，使表單有浮動的效果。陰影顏色是半透明的黑色，並且有 20px 的模糊距離。 */
  font-family: 'Bodoni Moda', serif;
  border: 3px solid blue;
}

.title {
  text-align: center;
  font-size: 32px;/* 設置字體大小為 32px。 */
  border: 3px solid pink;
}

.label {
  display: flex; /* 會把原本垂直排列的元素變成水平排列 */
  margin-top: 20px;
  font-size: 20px;
  border: 3px solid rgb(22, 185, 104);
}

.label * {
  height: 40px;
  flex-basis: 50%; /* 設置元素的基礎寬度為 50%，即每個元素占據容器的一半寬度。 */

  /* flex-grow: 0;
    和 flex-shrink: 0;
    ：這些設定確保元素的寬度不會根據容器的大小變化。 */
  flex-grow: 0;
  flex-shrink: 0;
}

.have_small {
  display: flex;
  flex-direction: column; /* 這設置讓 .have_small 內的元素縱向排列。 */
  border: 3px solid rgb(243, 0, 170);
}

.small {
  font-size: 14px;
  color: #999999;
  border: 3px solid rgb(236, 145, 25);
}

.small_red {
  color: #E6005C;
}

.small_green {
  color: #4DE680;
}

.password {
  display: flex;
  align-items: center;
  margin-top: 15px;
  height: 60px;
  padding: 20px;
  align-items: center;
  background-color: #B0E0E6;
  border-radius: 10px;
  font-size: 20px;
}

code {
  margin-left: 20px;
  font-size: 20px;
  color: #F08080;
}

.submit {
  height: 60px;
  width: 300px;
  margin-top: 40px;
  font-size: 20px;
  color: #fff;
  background-color: #6e8df5; /* 設置背景顏色為灰色。 */
  border: 2px solid #ffffff;
  overflow: hidden;
  position: relative;
}

/* :after 偽元素 創建一個白色的透明條，模擬光影效果。 */
.submit::after {
  content: ''; /* 插入空的伪内容 */
  position: absolute; /* 伪元素绝对定位，参照父元素 */
  width: 50px; /* 白光条带的宽度 */
  height: 300%; /* 白光条带的高度，确保它足够长 */
  top: -100%; /* 条带的位置在按钮的上方 */
  left: -50%; /* 条带的位置在按钮的左侧 */
  background: white; /* 条带的颜色为白色 */
  opacity: 0.1; /* 白光条带的透明度较低 */
  transform: rotate(-45deg); /* 条带倾斜 45 度 */
  transition: left 0.8s ease-in; /* 当 `left` 属性改变时，触发 0.8 秒的平滑动画 */
}


.submit:hover::after {
  left: 120%;
}

/* 動畫細節： 預設狀態：透明條位於按鈕左上角，超出範圍 (top: -100%; left: -50%; )。 hover 狀態：透明條滑過按鈕，移動到右側 (left: 120%; )。 過渡效果 使用 transition，滑動過程持續 0.3s 並有緩動。 */